<nav>
    <div class="logo">
        <h1>EASY<span>ESTATE</span></h1>
    </div>
    <div class="nav">
        <button>Pay Rent</button>
        <button class="post-property">Post Your Property</button>
        <form action="/home/signup">
        <button>Sign up</button>
    </form>
        <button>Log in</button>
        <button>Menu</button>
    </div>
</nav>