<nav>
    <div class="logo">
        <a href="/home"><h1>EASY<span>ESTATE</span></h1></a>
    </div>
    <div class="nav">
        <button>Pay Rent</button>
        <button class="post-property">Post Your Property</button>
        <form action="/home/signup">
        <button>Sign up</button>
    </form>
    <form action="/home/login">
        <button>Log in</button>
    </form>
        <button>Menu</button>
    </div>
</nav>