<div class="image-slider">
    <div class="slides">
        <img src="/images/home.jpg" alt="home Image">
        <img src="/images/home2.jpg" alt="Home2 Image">
        <img src="/images/home3.jpg" alt="home Image">
        <img src="/images/home4.jpg" alt="Home Image">
        <img src="/images/home5.jpg" alt="Home Image">
        
    </div>
</div>
<main>
    <div class="banner">
        <h2>World's Largest NoBrokerage Property Site</h2>
        <div class="options">
            <button>Home Interiors</button>
            <button>45-Days Guarantee</button>
        </div>
    </div>
    <div class="search-section">
        <div class="location">
            <label for="location">Location:</label>
            <input type="text" id="location" placeholder="Search">
            <button class="search-btn">Search</button>
        </div>
    </div>
    <div class="property-owner">
        <p>Are you a Property Owner?</p>
        <button>Post Free Property Ad</button>
    </div>
</main>
