<div class="container mt-3 mb-3">
    <div class=" row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="form-container p-3 border border rounded">
                <h3 class="text-center">Sign Up</h3>
                <form action="/home/signup" method="POST" class="auth-form needs-validation" novalidate>
                    <div class="mb-3 mt-2">
                        <label for="signup-username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="signup-username" name="username" required>
                        <div class="invalid-feedback">
                            Please enter a username.
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="signup-email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="signup-email" name="email" required>
                        <div class="invalid-feedback">
                            Please enter a valid email address.
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="signup-password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="signup-password" name="password" required>
                       
                    </div>

                    <div class="mb-3">
                        <label for="conform-password" class="form-label">Conform Password</label>
                        <input type="password" class="form-control" id="conform-password" name="conform-password" required>
                       
                    </div>
                    
                    <button type="submit" class="btn btn-danger w-100 mb-3">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
